a{
    font-family: Arial, Helvetica, sans-serif;
}
#top{
    background-color: rgb(50, 50, 50);display: grid;grid-template-columns:50px min-content min-content min-content min-content min-content 400px auto;
    #a{
        background-color: blue;
        #treakybutton{
            margin-left: 96%;
        }
    }
}