$font: Arial, Helvetica, sans-serif;
$color: rgb(50, 50, 50);
$margin: 25px;
#top{
    background-color:$color;display: grid;grid-template-columns:50px max-content max-content max-content max-content max-content max-content max-content auto;
    #iconbutton{
        width: 850px;
    }
    #b{
        width: 50%;
    }
    #logo:hover{
        cursor: pointer;
    }
    #search{
        background-color: $color;color: white;margin-top: $margin;border-radius: 5px;border-color: white;
    }
    .buttons{
        border: none;width: max-content;margin-top: $margin;font-family:$font;background-color: $color;color: white;font-weight: bold;
    }
    .buttons:hover{
        cursor: pointer;
    }
    select{
        border: none;background-color: $color;margin-left: 50%;
    }
    label:hover,select:hover{
        cursor: pointer;
    }
}
#middle{
    display: grid;grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;background-color: whitesmoke;
    #logo2{
        margin-top: 50%;
    }
    #header{
        font-size: 22px;text-decoration-line: none;margin-left: 10px;font-family: $font;
    }
    #header:hover{
        text-decoration: underline;text-decoration-color: #0000EE;
    }
    #large{
        width: 700px;background-color:blue;
        span{
            border: solid;border-width: 2px;border-color: gray;border-radius: 100px;margin-left: 10px;font-family: $font;margin-top: 10px;
        }
    }
}